@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.background1 {
  background: linear-gradient(45deg, rgba(35, 35, 35, 0.884), rgba(35, 35, 35, 0.664)), url("https://ik.imagekit.io/0s9lwb2yr/Pflasterbauberisha/hero%20background%201_prNl5xnd4?updatedAt=1702145246719");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
}

.background2 {
  background: linear-gradient(45deg, rgba(35, 35, 35, 0.884), rgba(35, 35, 35, 0.664)), url("/pflasterbau-hintergrund.png");
  background-size: cover;
  background-position: center;
}

.background3 {
  background: linear-gradient(45deg, rgba(35, 35, 35, 0.884), rgba(35, 35, 35, 0.664)), url("https://ik.imagekit.io/0s9lwb2yr/Pflasterbauberisha/workers-construction-site_ZfIape23S.jpg?updatedAt=1702145999054");
  background-size: cover;
  background-position: center;
}

.contact_bg, section#kontakt {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.808)), url('https://ik.imagekit.io/0s9lwb2yr/Pflasterbauberisha/pflasterbau2_9CSITgSgj7.jpg?updatedAt=1701705583941');
  background-size: cover;
  background-position: center;
}

.paging-dots {
  @apply flex gap-4
}

.pagind-dots svg {
  fill: white
}

.max-container {
  @apply mx-auto max-w-[1500px]
}

.padding-container {
  @apply px-[12px] lg:px-[20px]
}

.heading1 {
  @apply text-[32px] lg:text-[45px];
  font-weight: 700;
}

.heading2, .title, .h2 {
  @apply text-[21px] md:text-3xl lg:text-4xl font-bold lg:leading-[48px];
}

.heading3 {
  @apply text-[22px] lg:text-[25px];
  font-weight: 600;
}

.heading4 {
  @apply text-[21px] lg:text-[24px];
  font-weight: 600;
}

.paragraph {
  @apply text-[17px] lg:text-[19px]
}

.paragraph-sm {
  @apply text-[16px] lg:text-[18px]
}

.text-color {
  color: #ffce3e;
}

.background-color1 {
  background-color: #fee856;
}

.background-color2 {
  background-color: #ffce3e;
}